body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F3F5FC;
}

.logo {
    position: absolute;
    width: 120px;
    top: 40px;
    left: 40px;
}

.container {
    background-color: #F3F5FC;
    text-align: center;
    max-width: 90%;
    width: 1500px;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.principal {
    width: 680px;
    margin: 72px 112px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-around;
}

.area-texto {
    background: transparent;
    height: 300px;
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    font-size: 2em;
    color: #0A3871;
}

.area-texto::placeholder {
    color: #0A3871;
}

.aviso p{
    text-align: left;
    font-size: 14px;
} 

.btn{
    width: 300px;
    height: 67px;
    border-radius: 24px;
}

.encriptar {
    background-color: #0A3871;
    color: #fff;
    margin-right: 24px;
}

.desencriptar {
    color: #0A3871;
    border-color: #0A3871;
    background-color: #D8DFE8;
}

.icono-exclamacion {
    vertical-align: top;
}

.rectangulo {
    width: 400px;
    height: 944px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    margin: 40px 40px 40px 0;
}

.muneco {
    margin: 247px 41px 0 23px;
}

aside h3 {
    font-size: 24px;
    margin: 32px 41px 0 23px;
}

aside p {
    font-size: 16px;
    margin: 16px 41px 0 23px;
}